In [37]:
import pyspark

In [38]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Cardata').getOrCreate()

In [39]:
spark

In [40]:
df_spark=spark.read.csv(r'D:\CarDekhoModel\notebooks\data\cardekho_dataset.csv')

In [41]:
df_spark.show()

+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
| _c0|                 _c1|          _c2|     _c3|        _c4|      _c5|        _c6|      _c7|              _c8|    _c9|  _c10|     _c11| _c12|         _c13|
+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
|NULL|            car_name|        brand|   model|vehicle_age|km_driven|seller_type|fuel_type|transmission_type|mileage|engine|max_power|seats|selling_price|
|   0|         Maruti Alto|       Maruti|    Alto|          9|   120000| Individual|   Petrol|           Manual|   19.7|   796|     46.3|    5|       120000|
|   1|       Hyundai Grand|      Hyundai|   Grand|          5|    20000| Individual|   Petrol|           Manual|   18.9|  1197|       82|    5|       550000|
|   2|         Hyundai i20|      Hyundai|     i20|         11|    60000| Individual|   Petrol|           Manual|     17|  1197|       80|    5|       215000|
|   3|         Maruti Alto|       Maruti|    Alto|          9|    37000| Individual|   Petrol|           Manual|  20.92|   998|     67.1|    5|       226000|
|   4|       Ford Ecosport|         Ford|Ecosport|          6|    30000|     Dealer|   Diesel|           Manual|  22.77|  1498|    98.59|    5|       570000|
|   5|      Maruti Wagon R|       Maruti| Wagon R|          8|    35000| Individual|   Petrol|           Manual|   18.9|   998|     67.1|    5|       350000|
|   6|         Hyundai i10|      Hyundai|     i10|          8|    40000|     Dealer|   Petrol|           Manual|  20.36|  1197|     78.9|    5|       315000|
|   7|      Maruti Wagon R|       Maruti| Wagon R|          3|    17512|     Dealer|   Petrol|           Manual|  20.51|   998|    67.04|    5|       410000|
|   8|       Hyundai Venue|      Hyundai|   Venue|          2|    20000| Individual|   Petrol|        Automatic|  18.15|   998|   118.35|    5|      1050000|
|  12|        Maruti Swift|       Maruti|   Swift|          4|    28321|     Dealer|   Petrol|           Manual|   16.6|  1197|       85|    5|       511000|
|  14|       Hyundai Verna|      Hyundai|   Verna|          8|    65278|     Dealer|   Diesel|           Manual|  22.32|  1582|   126.32|    5|       425000|
|  15|      Renault Duster|      Renault|  Duster|          5|    50000| Individual|   Diesel|           Manual|  19.64|  1461|   108.45|    5|       750000|
|  16|         Mini Cooper|         Mini|  Cooper|          4|     6000|     Dealer|   Petrol|        Automatic|  14.41|  1998|   189.08|    5|      3250000|
|  17|         Maruti Ciaz|       Maruti|    Ciaz|          5|    76000|     Dealer|   Diesel|           Manual|  28.09|  1248|     88.5|    5|       650000|
|  18|        Maruti Swift|       Maruti|   Swift|          5|    20000| Individual|   Diesel|           Manual|   25.2|  1248|       74|    5|       627000|
|  19|Mercedes-Benz C-C...|Mercedes-Benz| C-Class|          7|    65000|     Dealer|   Diesel|        Automatic|  19.27|  2143|      170|    5|      1425000|
|  20|        Maruti Swift|       Maruti|   Swift|          7|    62200|     Dealer|   Diesel|           Manual|   28.4|  1248|       74|    5|       425000|
|  21|       Toyota Innova|       Toyota|  Innova|          8|   110000| Individual|   Diesel|           Manual|  12.99|  2494|    100.6|    8|       605000|
|  22|       Maruti Baleno|       Maruti|  Baleno|          6|    20000| Individual|   Petrol|           Manual|   21.4|  1197|     83.1|    5|       600000|
+----+--------------------+-------------+--------+-----------+---------+-----------+---------+-----------------+-------+------+---------+-----+-------------+
only showing top 20 rows

In [42]:
df_spark.drop_duplicates().show()

+----+------------------+----------+-----------+---+------+----------+------+---------+-----+----+------+----+-------+
| _c0|               _c1|       _c2|        _c3|_c4|   _c5|       _c6|   _c7|      _c8|  _c9|_c10|  _c11|_c12|   _c13|
+----+------------------+----------+-----------+---+------+----------+------+---------+-----+----+------+----+-------+
|  18|      Maruti Swift|    Maruti|      Swift|  5| 20000|Individual|Diesel|   Manual| 25.2|1248|    74|   5| 627000|
| 208|       Maruti Alto|    Maruti|       Alto|  3| 20000|Individual|Petrol|   Manual|23.95| 998| 67.05|   5| 360000|
| 647|       Hyundai i20|   Hyundai|        i20|  6| 67000|    Dealer|Diesel|   Manual|22.54|1396| 88.73|   5| 500000|
|1104|       Hyundai i20|   Hyundai|        i20|  2| 15000|    Dealer|Petrol|   Manual| 18.6|1197| 81.86|   5| 620000|
|1299|    Maruti Celerio|    Maruti|    Celerio|  2| 10000|Individual|Petrol|   Manual| 23.1| 998| 67.04|   5| 480000|
|1525|     Maruti Vitara|    Maruti|     Vitara|  5| 63000|    Dealer|Diesel|   Manual| 24.3|1248|  88.5|   5| 735000|
|1648|Maruti Swift Dzire|    Maruti|Swift Dzire|  6| 50000|    Dealer|Petrol|   Manual|   22|1197|  81.8|   5| 490000|
|1695|       Hyundai i20|   Hyundai|        i20|  3| 20000|Individual|Petrol|   Manual| 18.6|1197| 81.83|   5| 524000|
|2228|    Maruti Wagon R|    Maruti|    Wagon R| 12| 23710|    Dealer|Petrol|   Manual| 18.9| 998|  67.1|   5| 190000|
|2364|       Maruti Alto|    Maruti|       Alto|  4| 34153|    Dealer|Petrol|   Manual| 24.7| 796|  47.3|   5| 320000|
|2422|   Volkswagen Polo|Volkswagen|       Polo|  3| 22000|    Dealer|Petrol|Automatic|17.21|1197| 103.6|   5| 760000|
|2578|     Maruti Vitara|    Maruti|     Vitara|  4| 67000|    Dealer|Diesel|   Manual| 24.3|1248|  88.5|   5| 800000|
|2618|       Hyundai i20|   Hyundai|        i20| 11|100000|Individual|Petrol|   Manual|   17|1197|    80|   5| 310000|
|3115|     Maruti Ertiga|    Maruti|     Ertiga|  4| 19000|    Dealer|Diesel|   Manual|24.52|1248|  88.5|   7| 875000|
|3308|      Renault KWID|   Renault|       KWID|  3| 10000|Individual|Petrol|   Manual|23.01| 999|    67|   5| 350000|
|3414|     Toyota Innova|    Toyota|     Innova|  7| 92965|    Dealer|Diesel|   Manual|12.99|2494|100.57|   7|1025000|
|3671|         Ford Figo|      Ford|       Figo|  9| 43500|    Dealer|Diesel|   Manual|   20|1399|    68|   5| 310000|
|3843|     Maruti Baleno|    Maruti|     Baleno|  4| 21900|    Dealer|Petrol|Automatic|19.56|1197|  81.8|   5| 700000|
|3889|      Renault KWID|   Renault|       KWID|  2|  5000|Individual|Petrol|   Manual|25.17| 799|  53.3|   5| 350000|
|3959|     Ford Ecosport|      Ford|   Ecosport|  7| 63000|    Dealer|Petrol|   Manual|18.88| 999|123.37|   5| 535000|
+----+------------------+----------+-----------+---+------+----------+------+---------+-----+----+------+----+-------+
only showing top 20 rows

In [43]:
df_spark.dtypes

[('_c0', 'string'),
 ('_c1', 'string'),
 ('_c2', 'string'),
 ('_c3', 'string'),
 ('_c4', 'string'),
 ('_c5', 'string'),
 ('_c6', 'string'),
 ('_c7', 'string'),
 ('_c8', 'string'),
 ('_c9', 'string'),
 ('_c10', 'string'),
 ('_c11', 'string'),
 ('_c12', 'string'),
 ('_c13', 'string')]

In [51]:
df_spark.approxQuantile

<bound method DataFrame.approxQuantile of DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string]>